
header {
	display: flex;
	align-items: center;
}
body,
html {
	margin: 0 !important;
	padding: 0 !important;
}
//letra de google fonts
.combo-regular {
	font-family: "Combo", system-ui;
	font-weight: 100;
	font-style: small;
}
