<h1 class="flex justify-content-center flex-wrap">Información del Pokémon</h1>
<div class="flex justify-content-center flex-wrap">
	<div *ngIf="pokemon" class="flex gap-4">
		<!-- Card izq -->
		<p-card id="card1" class="flex-shrink-0" [style]="{ width: '20rem' }">
			<div class="flex flex-column align-items-center gap-3">
				<h2>ID:{{ pokemon.id }}</h2>
				<img
					[src]="pokemon.sprites.front_default"
					style="width: 200px"
				/>
				<h2>Nombre:{{ pokemon.name | titlecase }}</h2>
			</div>
		</p-card>

		<!-- Card der -->
		<p-card id="card2" class="flex-grow-1" [style]="{ width: '25rem' }">
			<div class="flex flex-column gap-4">
				<!-- Tipos -->
				<div>
					<h2>Tipos</h2>
					<div class="flex flex-wrap gap-2">
						<p-tag
							*ngFor="let type of pokemon.types"
							[value]="type.type.name"
							severity="success"
							[rounded]="true"
						/>
					</div>
				</div>

				<!-- Habilidades -->
				<div>
					<h2>Habilidades</h2>
					<div class="flex flex-wrap gap-2">
						<p-tag
							*ngFor="let ability of pokemon.abilities"
							[value]="ability.ability.name"
							severity="info"
							[rounded]="true"
						/>
					</div>
				</div>
			</div>
		</p-card>
	</div>
</div>
