<div class="flex justify-content-center" style="margin-bottom: 2rem">
	<p-button
		label="Back"
		icon="pi pi-arrow-left"
		(click)="volver()"
        styleClass="yellow"
	></p-button>
</div>
<div *ngIf="pokemon" class="flex flex-row gap-3 justify-content-center">
	<p-card
		[style]="{
			width: '20rem',
			marginBottom: '2rem'
		}"
	>
		<div
			class="flex flex-column align-items-center justify-content-center gap-2"
		>
			<p><strong>ID</strong></p>
			{{ pokemon.id }}
			<br /><img [src]="pokemon.sprites.front_default" />
			<p><strong>Name</strong></p>
			{{ pokemon.name }}
		</div>
	</p-card>
	<p-card
		[style]="{
			width: '20rem',
			marginBottom: '2rem'
		}"
	>
		<div class="flex flex-column align-items-center gap-2">
			<p><strong>Types</strong></p>
			<div class="flex gap-2 flex-wrap justify-content-center">
				@for (type of pokemon.types; track type) {
				<p-tag [value]="type.type.name"></p-tag>
				}
			</div>
			<p><strong>Abilities</strong></p>
			<div class="flex gap-2 flex-wrap justify-content-center">
				@for(ability of pokemon.abilities; track ability){
				<p-tag [value]="ability.ability.name"></p-tag>
				}
			</div>
		</div>
	</p-card>
</div>
