<p-card
	class="flex justify-content-center flex-wrap"
	[style]="{ width: '50rem', marginBottom: '2rem' }"
>
	<p-table
		[value]="pokemonList"
		[paginator]="true"
		[rows]="5"
		[tableStyle]="{ 'min-width': '50rem' }"
		[rowsPerPageOptions]="[5, 10, 20]"
	>
		<ng-template pTemplate="header">
			<tr>
				<th>ID</th>
				<th>Nombre</th>
				<th>Más detalles</th>
			</tr>
		</ng-template>
		<ng-template pTemplate="body" let-pokemon>
			<tr>
				<td>{{ pokemon.id }}</td>
				<td>{{ pokemon.name }}</td>
				<td>
					<p-button
						icon="pi pi-eye"
						styleClass="p-button-rounded p-button-info p-button-sm"
						[routerLink]="['/pokemon', pokemon.id]"
					/>
				</td>
			</tr>
		</ng-template>
	</p-table>
</p-card>
